<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PointOfSaleConnectionString"
        connectionString="Data Source=DESKTOP-LQJTKTO\USMAN;Initial Catalog=PointOfSale;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<!--<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.;Integrated Security=True;AttachDBFilename=|DataDirectory|\PointOfSale.mdf" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	</configuration>
